[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none
